@using ExamApp.Core.Entities;

@model List<Blog>
@{
    int count = 0;
}

<div>
    <a class="btn btn-primary" asp-controller="Blog" asp-action="Create">Create</a>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <div style="width:100px">
                            <img width=100% src="~/Upload/Product/@item.ImgUrl?">
                            
                        </div>
                    </td>
                    <td>
                      
                        <a class="btn btn-danger" asp-controller="Blog" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>